netCDF4
numpy
Pillow
python-dateutil
PyYAML
requests
scipy
six
urllib3
xdg
owslib
py_mmd_tools@git+https://github.com/metno/py-mmd-tools.git
fadg@git+https://github.com/metno/esa-coscaw-data-search.git
